@use 'colors' as *;

@import "primeicons/primeicons.css";

html, body { height: 100%; }
body { 
    margin: 0; 
    padding: 0;
    background-color: $background-color;
    font-size: 1.1rem;

    * {
        box-sizing: border-box;
        font-family: 'Dosis', sans-serif;
    }
}