<div class="dispositivos">
    @for (item of dispositivos(); track $index) {

    <p-card [style]="{ width: '200px', height: '150px'}">
        
        <div class="card">                       
                @if (item.online) {
                    <div class="status">
                        <i class="pi pi-circle-on" style="color: green;"></i>
                        <span [title]=[item.nome]>{{item.nome}}</span>
                    </div>
                } @else {
                    <div class="status">
                        <i class="pi pi-circle-on" style="color: red;"></i>
                        <span [title]=[item.nome]>{{item.nome}}</span>
                    </div>
                }

                <!-- <div class="nome">
                    <span>{{item.nome}}</span>                    
                </div> -->
                <div class="icone">
                    <fa-icon [icon]="faPlug"></fa-icon>
                </div>
                @if (item.online){
                <div class="consumo">
                    <span>{{item.consumo}}</span>    
                    <span class="unidade"> kWh</span>      
                </div>
            }
            <!-- <div class="consumo">
                <span>{{item.consumo}}</span>                
                <fa-icon [icon]="faPlug"></fa-icon>
            </div>             -->
        </div>
    </p-card>
    }
</div>